{% extends "vogt.html" %}
{% block ballot %}
	<script type="text/javascript">
		function update(list, o)
		{
			if (!o.hasOwnProperty('old'))
			{
				o.old = o.defaultValue;
			}

			var delta = Number(o.value) - Number(o.old);

			for (var i=0; i < list.length; i++)
			{
				var newValue = Math.min(Math.max(Number(document.getElementById(list[i]).value) + delta, 0), 100);
				document.getElementById(list[i]).value = newValue;
				relabel(list[i], newValue);
			}

			o.old = o.value;
		}

		function relabel(name, value)
		{
			document.getElementById(name.concat("//display")).innerHTML = value;
		}
	</script>

	{% for category in options %}
		<tr>
			<td {% if not loop.first %}style="padding-top: 20px;"{% endif %} class="category">{{ category }}</td>
			<td style="text-align: right; {% if not loop.first %}padding-top: 20px;{% endif %}">
				{% if winner %}
					<input type="range" disabled/>
				{% else %}
					<input type="range" value="50" onchange='update(new Array("{{ '", "'.join(options[category]) }}"), this)'/>
				{% endif %}
			</td>
		</tr>

		{% for name in options[category] %}
			<tr>
				<td style="padding-left: 10px;" {% if name in premium %}class="premium"{% endif %}>
					{{ form.__getattribute__(name).label }}
				</td>
				<td style="text-align: right;">
					{% if winner %}
						{{ form.__getattribute__(name)(disabled=True) }}
					{% else %}
						{{ form.__getattribute__(name)(onchange='relabel("{}", this.value)'.format(name)) }}
					{% endif %}
				</td>
				<td style="width: 30px; text-align: right;"><label id="{{ name }}//display">{{ form.__getattribute__(name).data }}</label></td>
			</tr>
		{% endfor %}
	{% endfor %}
{% endblock %}
