{% extends "base.html" %}
{% block content %}
	<div class="text">
		{% if premium %}
			<p>Premium options look <span class="premium">Like This</span>.</p>
		{% endif %}
		<form action="" method="POST" name="{{type}}">
			{{form.hidden_tag()}}
			<table>
				{% block ballot %}
				{% endblock %}
			</table>
			{% if not winner %}
				<p style="margin-bottom: 20px">{{form.favourite}} {{form.favourite.label}}</p>
				<p><input type="submit"/> <input type="reset"/></p>
			{% endif %}
		</form>

		{% if weekly %}
			{% for w in winner %}
				{% if loop.first %}
					<div class="title" style="margin-top: 20;">Weekly {{type.capitalize()}}:</div>
				{% endif %}
				<div style="text-align: center;" {% if w in premium %}class="premium"{% endif %}>{{w}}</div>
			{% endfor %}
		{% else %}
			{% for w in winner %}
				{% if loop.first %}
					<div class="title" style="margin-top: 20;">Winning {{type.capitalize()}}:</div>
				{% elif loop.index == 1 %}
					<div class="title" style="margin-top: 20;">Runners Up:</div>
				{% endif %}
				<div style="text-align: center;" {% if w in premium %}class="premium"{% endif %}>{{w}}</div>
			{% endfor %}
		{% endif %}

		{% if voters %}
			<div class="title" style="margin-top: 20;">Ballots Cast:</div>
			{% for u in voters %}
				<div style="text-align: center;">{{u.name}}</div>
			{% endfor %}
		{% endif %}
	</div>
	<div class="toggle">
		<a href="{{url_for("show_history", type=type)}}">{{type.capitalize()}} Voting History</a>
		<br/><a href="{{url_for("vote", type=toggle)}}">{{toggle.capitalize()}} Day Voter</a>
	</div>
{% endblock %}
