{% extends "vogt.html" %}
{% block ballot %}
	<script type="text/javascript">
		function update(list, value)
		{
			for (var i=0; i < list.length; i++)
			{
				document.getElementById(list[i]).value = value;
				relabel(list[i], value);
			}
		}

		function relabel(name, value)
		{
			document.getElementById(name.concat("//display")).innerHTML = value;
		}
	</script>

	{% for category in options %}
		<tr>
			<td style="padding-top: 20px;"><i>{{ category }}</i></td>
			{% if winner %}
				<td style="text-align: right; padding-top: 20px;"><input type="range" disabled/></td>
			{% else %}
				<td style="text-align: right; padding-top: 20px;"><input type="range" onchange='update(new Array("{{ '", "'.join(options[category]) }}"), this.value)'/></td>
			{% endif %}
		</tr>

		{% for name in options[category] %}
			<tr>
				<td style="padding-left: 10px;">{{ form.__getattribute__(name).label }}</td>
				{% if winner %}
					<td style="text-align: right;">{{ form.__getattribute__(name)(disabled=True) }}</td>
				{% else %}
					<td style="text-align: right;">{{ form.__getattribute__(name)(onchange='relabel("{}", this.value)'.format(name)) }}</td>
				{% endif %}
				<td style="width: 30px; text-align: right;"><label id="{{ name }}//display">{{ form.__getattribute__(name).data }}</label></td>
			</tr>
		{% endfor %}
	{% endfor %}
{% endblock %}
