{% extends "base.html" %}
{% block content %}
	<div class="text">
		<form action="" method="POST" name="{{type}}">
			{{form.hidden_tag()}}
			<table>
				{% block ballot %}
				{% endblock %}
			</table>
			<div style="text-align: center;">
				{% if winner %}
					<input type="submit" disabled/><input type="reset" disabled/>
				{% else %}
					<input type="submit"/><input type="reset"/>
				{% endif %}
			</div>
		</form>

		{% if weekly %}
			{% for w in winner %}
				{% if loop.first %}
					<div class="title" style="margin-top: 20;">Weekly {{type.capitalize()}}:</div>
				{% endif %}
				<div style="text-align: center;">{{w}}</div>
			{% endfor %}
		{% else %}
			{% for w in winner %}
				{% if loop.first %}
					<div class="title" style="margin-top: 20;">Winning {{type.capitalize()}}:</div>
				{% elif loop.index == 1 %}
					<div class="title" style="margin-top: 20;">Runners Up:</div>
				{% endif %}
				<div style="text-align: center;">{{w}}</div>
			{% endfor %}
		{% endif %}
	</div>
	<div class="toggle">
		<a href="{{url_for("vogt", type=toggle)}}">{{toggle.capitalize()}} Day Voter</a>
	</div>
{% endblock %}
